@media (min-width: 300px) and (max-width: 799px) {
    .header{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu__menu-header-text li{
        font-size: 21px;
    }
    .mobile-menu__menu-header-text a{
        color: black;
    }
    .mobile-menu__menu-header-text{
        text-align-last: left;
        margin-right: 12%;
        line-height: 40px;
        text-align-last: center;
    }
    .profileFormInputs input{
        width: 100%;

    }
    .profileFormInputs p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .profileExperienceCheckboxContainter{
        display: flex;
        flex-direction: column;
        margin-left: 18%;

    }
    .profileExperienceCheckboxContainterRow2{
        margin-left: 0px;
        margin-right: 0px;
}
    .profileAboutContentDesc{
        width: 67%;
    }
    .areaDesc textarea{
        width: 89%;
    }

    .range{
        width: 100%;
    }
}